doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='./img/apple-icon.png')
    link(rel='icon', type='image/png', href='./img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title LinkAge Plus Dashboard
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    // Bootstrap core CSS
    link(href='./css/bootstrap.min.css', rel='stylesheet')
    // Material Dashboard CSS
    link(href='./css/material-dashboard.css?v=1.2.0', rel='stylesheet')
    // Main CSS
    link(href='./css/main.css', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons', rel='stylesheet', type='text/css')
  body
    .wrapper
      .sidebar(data-color='green', data-image='./img/sidebar-1.jpg')
        .logo
          a.simple-text(href='http://linkageplus.co.uk/')
            img.brand-logo(src="./img/logo.png")
        .sidebar-wrapper
          ul.nav
            li.active
              a(href='dashboard.html')
                i.material-icons dashboard
                p Dashboard
            li
              a(href='./table.html')
                i.material-icons content_paste
                p Table View
            li
              a(href='./maps.html')
                i.material-icons location_on
                p Maps
            li
              a(href='./notifications.html')
                i.material-icons.text-gray notifications
                p Notifications
      .main-panel
        nav.navbar.navbar-transparent.navbar-absolute
          .container-fluid
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.material-icons notifications
                    span.notification 5
                    p.hidden-lg.hidden-md Notifications
                  ul.dropdown-menu
                    li
                      a(href='#') You have a new referral.
                    li
                      a(href='#') You have a new referral.
                    li
                      a(href='#') You have a new referral.
                    li
                      a(href='#') You have a new referral.
                li
                  a.dropdown-toggle(href='#pablo', data-toggle='dropdown')
                    i.material-icons person
                    p.hidden-lg.hidden-md Profile
              form.navbar-form.navbar-right(role='search')
                .form-group.is-empty
                  input.form-control(type='text', placeholder='Search')
                  span.material-input
                button.btn.btn-white.btn-round.btn-just-icon(type='submit')
                  i.material-icons search
                  .ripple-container
        .content
          .container-fluid
            .row
              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(data-background-color='blue')
                    i.material-icons content_copy
                  .card-content
                    p.category No. of Referrals
                    h3.title#referral-count 100
                  .card-footer
                    .stats
                      i.material-icons date_range
                      | Last 24 Hours
              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(data-background-color='red')
                    i.material-icons warning
                  .card-content
                    p.category Urgent Referrals
                    h3.title#urgent-count 50
                  .card-footer
                    .stats
                      i.material-icons date_range
                      |  Last 24 Hours
              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(data-background-color='green')
                    i.material-icons done_all
                  .card-content
                    p.category Resolved Referrals(%)
                    h3.title#resolved-pers 95
                  .card-footer
                    .stats
                      i.material-icons date_range
                      |  Last 24 Hours
              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(data-background-color='orange')
                    i.material-icons query_builder
                  .card-content
                    p.category Unresolved Referrals
                    h3.title#unresolved-count 8
                  .card-footer
                    .stats
                      i.material-icons date_range
                      |  Last 24 Hours
            .row
              .col-md-6
                .card
                  .card-header.card-chart(data-background-color='green')
                    #dailySalesChart.ct-chart
                  .card-content
                    h4.title Daily Referrals
                    p.category
                      span.text-success
                        i.fa.fa-long-arrow-up
                        |  55%
                      |  increase in today's referrals.
                  .card-footer
                    .stats
                      i.material-icons access_time
                      |  updated 4 minutes ago
              .col-md-6
                .card
                  .card-header.card-chart(data-background-color='orange')
                    #emailsSubscriptionChart.ct-chart
                  .card-content
                    h4.title Referral Frequency by Category
                    p.category <i>Life Planning Advice</i> is the most frequent.
                  .card-footer
                    .stats
                      i.material-icons access_time
                      |  campaign sent 2 days ago
            .row 
              .col-md-6
                .card
                  .card-header(data-background-color='purple')
                    h4.title Top Referrers 
                    p.category updated on 18th November, 2017
                  .card-content.table-responsive
                    table.table.table-hover
                      thead.text-warning
                        th ID
                        th Name
                        th Referrals
                      tbody
                        tr
                          td 1
                          td Meals on Wheels
                          td 80
                        tr
                          td 2
                          td Police
                          td 70
                        tr
                          td 3
                          td Fire Department
                          td 50
                       
  // Core JS Files
  script(src='./js/jquery-3.2.1.min.js', type='text/javascript')
  script(src='./js/bootstrap.min.js', type='text/javascript')
  script(src='./js/material.min.js', type='text/javascript')
  // Charts Plugin
  script(src='./js/chartist.min.js')
  // Dynamic Elements plugin
  script(src='./js/arrive.min.js')
  // PerfectScrollbar Library
  script(src='./js/perfect-scrollbar.jquery.min.js')
  // Notifications Plugin
  script(src='./js/bootstrap-notify.js')
  // Google Maps Plugin
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE')
  // Material Dashboard javascript methods
  script(src='./js/material-dashboard.js?v=1.2.0')
  // Material Dashboard DEMO methods, don't include it in your project!
  script(src='./js/main.js')
    
  
    